<div id = 'main-page'>
  <h1>Welcome to the Train-System <br>of Epicodania</h1>

  <!-- <a href="/trains">Trains</a>
  <a href="/cities">Cities</a>
  <a href="/timetable">See the complete Timetable</a> -->

</div>

<div id="garish"></div>
