
<h4>List of all trains</h4>
<% if @trains.any? %>
  <ul>
    <% @trains.each do |train| %>
      <li><a href="/train/<%= train.id %>"><%= train.name %></a><a class = 'editor' href="/train/<%= train.id %>/edit">edit</a></li>
    <% end %>
  </ul>
<% else %>
  <p>
    There are no trains, add one.
  </p>
<% end %>
