#content {
  margin-top: 2rem;  background: linear-gradient(#fff, transparent 90%),
    linear-gradient(0deg, #fff, transparent),
    #fff url('http://www.westernrailinc.com/monochrome-railroad-tracks.jpg') no-repeat center;
    background-size: cover;
}

#main-page{
  padding-top: 170px;
  height: 850px;
  background: linear-gradient(#fff, transparent 90%),
  linear-gradient(0deg, #fff, transparent),
  #fff url('https://upload.wikimedia.org/wikipedia/commons/6/6d/200th_steam_locomotive_built_by_Clyde_TF_1164_from_The_Powerhouse_Museum.jpg') no-repeat center;
  background-size: cover;
  text-align:center;
}

ul {
  list-style-type: none;
}

.editor {
  float: right;
  margin-right:75%;
  font-size: 10;
}
.ticket_button{
  float: right;
  margin-right:50%;
}

li {
  margin: 0 0 3px 0;
  line-height:200%;
}
